@model UserLoginCollectionModel

<div id="Ajax">
</div>

<script>
    $(function () {
        try {
            $("#Ajax").load("@(Url.Action("Search", "UserLogin", null, Request.Url.Scheme))");
        } catch (exception) {
            zExceptionMessage("UserLogin Index.cshtml", "function()", exception.message)
        }
    });
</script>