@model CustomerCollectionModel

<div id="Ajax">
</div>

<script>
    $(function () {
        try {
            $("#Ajax").load("@(Url.Action("Search", "Customer", null, Request.Url.Scheme))");
        } catch (exception) {
            zExceptionMessage("Customer Index.cshtml", "function()", exception.message)
        }
    });
</script>